.hero-tp {
  position: relative;
  min-height: 460px; 
  width: 100%;
  overflow: hidden;
}

.hero-tp .hero-img {
  position: absolute;
  inset: 0;
  background: url(../assets/img/hero-tp-mobile.jpg) no-repeat;
  background-size: cover;
  z-index: 1;
}

.hero-tp .section-title {
  position: relative;
  z-index: 2;
  width: 312px;
  height: 330px;
  margin: 65px 24px;
  color: var(--text-secondary-color);
}

.hero-tp .section-title h2 {
  font-size: 48px;
  font-weight: var(--title-weight);
  text-align: start;
}

.hero-tp .section-title hr {
  margin: 16px auto 24px 0;
}

.hero-tp .section-title p {
  font-size: 20px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
.hero-tp .hero-img {
  background: url(../assets/img/hero-tp-tablet.jpg) no-repeat;
  background-size: cover;
 }

.hero-tp .section-title {
  width: 579px;
  height: 303px;
  margin: 209px 69px 108px 120px;
}

.hero-tp .section-title p {
  font-size: 32px;
  line-height: 48px; 
}
}

@media screen and (min-width: 1440px) {
.hero-tp .hero-img {
  background: url(../assets/img/hero-tp-desktop.jpg) no-repeat;
  background-size: cover;
 }

.hero-tp .section-title {
  margin: 158px 741px 158px 120px;
}
}