.image-gallery {
  height: 460px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "first second"
    "third third";
  gap: 24px;
  margin-top: 24px;
}

.image.first,
.image.second {
  width: 144px;
  height: 254px;
}

.image.first {
  background: url(../assets/img/bag-mobile.jpg) no-repeat;
  background-size: cover;
  grid-area: first;
}

.image.second {
  background: url(../assets/img/passport-mobile.jpg) no-repeat;
  background-size: cover;
  grid-area: second;
}

.image.third {
  width: 100%;
  height: 182px;
  background: url(../assets/img/people-mobile.jpg) no-repeat;
  background-size: cover;
  grid-area: third;
}

@media screen and (min-width: 768px) {
  .image.first,
  .image.second {
    width: 312px;
  }

  .image.first {
    background: url(../assets/img/bag-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .image.second {
    background: url(../assets/img/passport-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .image.third {
    background: url(../assets/img/people-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .container {
    height: 460px;
    display: flex;
  }

  .image-content {
    width: 790px;
  }

  .image.first,
  .image.second {
    width: 384px;
  }
}