.value {
  font-size: 40px;
}

.container .button {
  margin-top: 24px;
}

.image.first {
  background: url(../assets/img/gallery1-tp-mobile.jpg) no-repeat;
  background-size: cover;
  grid-area: first;
}

.image.second {
  background: url(../assets/img/gallery2-tp-mobile.jpg) no-repeat;
  background-size: cover;
  grid-area: second;
}

.image.third {
  background: url(../assets/img/gallery3-tp-mobile.jpg) no-repeat;
  background-size: cover;
  grid-area: third;
}

@media screen and (min-width: 768px) {
  .container .button {
    display: none;
  }

  .image.first {
    background: url(../assets/img/gallery1-tp-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .image.second {
    background: url(../assets/img/gallery2-tp-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .image.third {
    background: url(../assets/img/gallery3-tp-tablet-desktop.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
    .text-content {
        margin: 96px 0;
    }
}